* {
  margin: 0;
  padding: 0;
}

.partnership-card {
  margin-left: 24px;
  margin-top: 24px;
  width: 1200px;
  padding: 1rem 0;
  border: 1px solid;
  border-radius: 10px;
  background-color: lightgrey;
  display: flex;
  justify-content: space-evenly;
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__container-left {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }
  &__name-container {
    padding-left: 1rem;
  }
  &__name {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    padding-bottom: 16px;
  }
  &__img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:  #D9D9D9;
  }
  &__background {
    background-color: white;
    display: flex;
    border-radius: 12px;
    padding: 10px 10px 10px 10px;
    margin-right: 16px;
    align-items: center;

  }
  &__container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
  }

  &__arrow {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  &__product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__product-img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    background-color: #D9D9D9;
  }
  &__description-container {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
  }
  &__productName {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
  }
  &__categoryButton {
    background-color: #D9D9D9; 
    text-align: center;
    padding: 0.3rem;
    border-radius: 50px;
    margin-top: 16px;
    color: black;
    border: 1px solid black;
  }
  &__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }
  &__btn {
    background-color: black;
    color: white;
    padding: 0.5rem 1.8rem;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 170px;
  }
}
